version: "3.2"

services:
  database:
    container_name: phsw_site
    image: postgres
    restart: always
    volumes:
      - ./.pgdata:/var/lib/postgresql/data
    environment:
      - LC_ALL=C.UTF-8
      - POSTGRES_PASSWORD=senhasegura
      - POSTGRES_USER=phsw
    ports:
      - 5432:5432