{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}
<h2 class="mt-5">Adicionar um item</h2>
<div class="container">
    <form action="{% url 'pedidos:editar_itens'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {% include 'partials/_messages.html'%}
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<h2 class="mt-5">Editar os itens</h2>
</br>
<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for categoria in categorias %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading-{{ categoria.id_categoria }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ categoria.id_categoria }}"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse-{{ categoria.id_categoria }}">
                {{ categoria.verbose_name }}
            </button>
        </h2>
        <div id="panelsStayOpen-collapse-{{ categoria.id_categoria }}" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading-{{ categoria.id_categoria }}">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Unidade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in categoria.itens %}
                    <tr>
                        <td><p><img src="{{ item.imagem.url }}" style="max-width: 150px; height: auto;"></p></td>
                        <td><p style="margin: 20px 15px;">{{ item.verbose_name }}</p></td>
                        <td><p style="margin: 20px 15px;">R$ X</p></td>
                        <td><p style="margin: 20px 15px;">{{ item.descricao }}</p></td>
                        <td><p style="margin: 20px 15px;">{{ item.unidade }}</p></td>
                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    </br>

    <form action="{% url 'pedidos:editar_itens' %}" method="post" target="_blank" style="float: right;">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" value="#" name="itens_editados">Editar Itens</button>
    </form>
    </br>
</div>



{% endblock body %}