{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}
<h2 class="mt-5">Todos os itens</h2>
</br>
<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for categoria in categorias %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading-{{ categoria.id_categoria }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ categoria.id_categoria }}" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse-{{ categoria.id_categoria }}">
                {{ categoria.verbose_name }}
            </button>
        </h2>
        <div id="panelsStayOpen-collapse-{{ categoria.id_categoria }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-{{ categoria.id_categoria }}">
            <div class="accordion-body">
                <ul class="list-group">
                    {% for item in categoria.itens %}
                    <li class="list-group-item">{{ item.verbose_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</br>


<!--_______________/paginação\___________________-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in pedidos.paginator.page_range %}
        {% if pedidos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</nav>
{% endblock body %}