{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}
<h2 class="mt-5">Todos os itens</h2>
</br>
<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for categoria in categorias %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading-{{ categoria.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse-{{ categoria.id }}"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse-{{ categoria.id }}">
                {{ categoria.verbose_name }}
            </button>
        </h2>
        <div id="panelsStayOpen-collapse-{{ categoria.id }}" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading-{{ categoria.id }}">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Imagem</th>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Unidade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in categoria.itens %}
                        <tr>
                            <th scope="row"><p><img src="{{ item.imagem.url }}" style="max-width: 115px; height: auto;">
                            </p></th>
                            <td><p style="margin: 20px 15px;">{{ item.id }}</p></td>
                            <td><p style="margin: 20px 15px;">Nome: {{ item.verbose_name }}</p></td>
                            <td><p style="margin: 20px 15px;">Valor: R$ X</p></td>
                            <td><p style="margin: 20px 15px;">Descrição: {{ item.descricao }}</p></td>
                            <td><p style="margin: 20px 15px;">Unidade: {{ item.unidade }}</p></td>
                        </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

</br>


{% endblock body %}