{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}
<h2 class="mt-5">Meus Pedidos</h2>
<table class="table">
    <thead>
    <tr>
        <th>Código do Pedido</th>
        <th>Usuario</th>
        <th>Empresa</th>
        <th>Status</th>
        <th>Valor Total</th>
        <th>Data do pedido</th>
    </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
    <tr>
        <td>{{pedido.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{pedido.fk_empresa.nome_empresa}}</td>
        <td>{{pedido.fk_status.verbose_name}}</td>
        <td>{{pedido.valor_total}}</td>
        <td>{{pedido.data_pedido}}</td>
    </tr>
    {% endfor %}

    </tbody>
<!--    <tfoot>-->
<!--    <tr>-->
<!--        <td>...</td>-->
<!--        <td>...</td>-->
<!--        <td>...</td>-->
<!--    </tr>-->
<!--    </tfoot>-->

</table>

<div class="pagination">
    <span class="step-links">
        {% if pedidos.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ pedidos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pedidos.number }} of {{ pedidos.paginator.num_pages }}.
        </span>
        {% if pedidos.has_next %}
            <a href="?page={{ pedidos.next_page_number }}">next</a>
            <a href="?page={{ pedidos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% for pagina in pedidos.paginator.page_range %}
      {% if pedidos.number == pagina %}
    <li class="page-item active">
        <a class="page-link" href="?page={{ pagina }}">{{pagina}}</a>
    </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ pagina }}">{{pagina}}</a>
      </li>
      {% endif %}

      {% endfor %}
  </ul>
</nav>
{% endblock body%}