{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}

{% if pedido %}
<h1>Itens do pedido</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id pedido</th>
        <th>Item</th>
        <th>Qtd</th>
        <th>Preço Unitario</th>
    </tr>
    </thead>
    <tbody>
    {% for item in pedido %}
    <tr>
        <td><p style="margin: 20px 15px;">{{ item.fk_pedido_id }}</p></td>
        <td><p style="margin: 20px 15px;">{{ item.fk_item }}</p></td>
        <td><p style="margin: 20px 15px;">{{ item.quantidade }}</p></td>
        <td><p style="margin: 20px 15px;">{{ item.preco_unit }}</p></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>Pedido vazio</p>
{% endif %}

{% endblock body%}

