/**  Empty CSS file for your own CSS**/
/**
.main-footer{
    background-color: #4D4A4A ;
}

.rights{
    background-color: #2C2B2B;
}

**/
.main-footer{
    background-color: #344658 ;
}

.rights{
    background-color: #212529;
}

