/**  Empty CSS file for your own CSS**/
html, body {
padding: 0px;
margin: 0px;
height: 100%;
}

#page-wrapper {
min-height: 100%;
position: relative;
}

#add-footer-margin {
padding-top: 200px;
}

.main-footer{
    position: absolute;
    background-color: #344658;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.footer-bottom{
    background-color: #212529;
}

.accordion-item .accordion-button  {
    background-color: rgb(43, 120, 169);
    color: #ffffff;
}