{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Pedidos{% endblock title %}
{% block body%}

<h1 class="mt-5">Adicionar um item</h1>

<div class="container">
    <form action="{% url 'orders:create_item'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/_messages.html'%}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% for visible_field in form.visible_fields %}
        <p>

            {{ visible_field.label_tag }} <br>
            {{ visible_field }}
            {{ visible_field.errors }}
        </p>

        {% endfor %}
        <br>
         <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>


{% endblock body %}