{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Home{% endblock title %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h3>
                    Bem vindo a plataforma de gestão PHSW.
                </h3>
                <p>
                    Atualmente possuimos os serviço de pedidos ....
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>.........</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}