{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Home{% endblock title %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Django Email
                </h2>
                <p>
                    Demonstração de aplicação Django com envio de e-mails.
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Framework Web Utilizado
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/django.png' %}" alt="Imagem do django" class="img-thumbnail
                                float-left m-3"/>
                                Django é um framework para desenvolvimento rápido para web, escrito em Python, que
                                utiliza o padrão model-template-view (MTV).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}