{% extends 'base/base.html' %}
{% load static %}
{% block title %}PHSW - Home{% endblock title %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Home
                </h2>
                <p>
                    Sistema de pedidos.
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>.........</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}